
  *, *::after, *::before {
	box-sizing: border-box;
  }
  
  dialog {
  resize: both;      /* allow user to resize dialog*/
  width: 50rem;      /* default to abe about 50 charagers wide */
  overflow: auto;    /* ?? */

	border-radius: 10px;  /* round corners*/
	z-index: 10;          /* should make dialog be on top and visible*/
  }
