.link { /* back ground color for table1 */
	color: blue;
  text-decoration-line: underline;
}

.selected { /* back ground color for table1 */
	background-color: lightgray;
}

#table div {padding: 5px 5px 5px 5px;}